## ignore npm install dir
node_modules
##
.depend.*
.idea/
cmake-build*/
GNUmakefile*
*.vcxproj*
*.tlog
*.log
*.obj
*.ilk
*.exe
*.dll
*.lib
*.exp
*.[ip]db
*.ior
*.iml
.obj/
.shobj/
lib*.a
lib*.so*
lib*.dylib
*~
*.opensdf
*.sdf
*.sln
*.pch
*.suo
.*.swp
*.res
*.VC.db
*.VC.opendb
.vs/
.vscode/
*.pyc
bin/*
lib/*
/tags
.service_pids
